# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
*.tfplan

# Variables sensibles del entorno
terraform.tfvars
*.auto.tfvars
