# Copia a `terraform.tfvars` y rellena. NO comitear `terraform.tfvars`.

aws_region    = "us-east-1"
project_name  = "ml-training"
environment   = "dev"
owner         = "tu-correo@empresa.com"

# Red
vpc_cidr           = "10.20.0.0/16"
public_subnet_cidr = "10.20.1.0/24"
admin_cidr         = "200.10.10.10/32"   # tu IP publica /32

# SSH
ssh_public_key_path = "~/.ssh/id_rsa.pub"

# EC2
instance_type_mlflow   = "t3.medium"
instance_type_training = "t3.large"
ebs_size_gb_mlflow     = 30
ebs_size_gb_training   = 50

# S3 (debe ser GLOBALMENTE unico)
s3_bucket_name      = "ml-poc-training-data-XXXXX"
code_archive_s3_key = "code/ml_training.tar.gz"

# Bootstrap (opcional). Si lo pones, la EC2 hara `git clone` al arrancar.
git_repo_url = ""
